# ========================================
# Настройки сервиса платежей
# ========================================
# Скопируйте этот файл в .env и заполните своими данными
# Для тестов используйте .test.env с такой же структурой


# URL внешнего провайдера
PROVIDER_URL=

# ========================================
# Подключение к БД
# ========================================

# Хост
DB_HOST=

# Порт
DB_PORT=

# Пользователь
DB_USER=

# Пароль пользователя
DB_PASS=

# Имя базы данных
DB_NAME=